<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tab Keeper</title>
    <script src="../lib/Vue/vue.js"></script>
    <link rel="stylesheet" href="popup.css">
</head>

<body>
    <div class="popup" id="popup" v-cloak>
        <ul class="group-list">
            <li class="group-list-item" v-for="g in groups" :class="{open: showId === g.id}" @click="showId = g.id">{{ g.name }}</li>
            <li class="group-list-item" @click="addGroup">+</li>
        </ul>
        <div class="group-container" v-for="g in groups">
            <ul class="tab-list" v-if="showId === g.id">
                <li class="tab-list-item" :class="{active: t.active}" v-for="(index, t) in g.tabs" :style="getFavicon(index)">
                    <span @click="setActive(t.id)">{{t.title}}</span>
                    <button class="close-btn" @click="closeTab(t.id)"></button>
                </li>
                <li class="tab-list-item new-tab" @click="newTab()"><span>Open New Tab</span></li>
            </ul>
            <ul class="action-bar" v-if="showId === g.id" >
                <li class="action-bar-item">
                    <button class="action-bar-btn" v-if="activeId === g.id" disabled>You're Already In This Group</button>
                    <button class="action-bar-btn" v-else>Switch To This Group</button>
                    <button class="action-bar-btn" @click="openManager">Manager Panel</button>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../lib/common.js"></script>
<script src="popup.js"></script>
</html>